img {
    width: 95%;
}

.card-header{
background-color: rgb(120, 162, 197);
color: white;
}

.card-footer p{
color: card-footer;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


footer p {
  margin-bottom: .25rem;
  color: rgb(192, 192, 192);
}